.choosename {
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 2px solid #000000;
    text-align: center;
    margin: auto;
    margin-top: 400px;
}

#name {
    margin: 10px;
}

.app {
    display: flex;
}

li {
    list-style-type: none;

    margin: 30px;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
}

.chat {
    border: 2px solid #000000;
    border-radius: 10px;
    width: 700px;
}

.message {
    margin: 30px;
    border: 2px solid #000000;
    padding: 10px;
    border-radius: 10px;
}

.message.me {
    text-align: right;
    position: relative;
}

.message.notme {
    text-align: left;
    position: relative;
}

.message.me:before {
    content: 'me';
    padding-bottom: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.message.notme:before {
    content: 'not me';
    padding-bottom: 20px;
    position: absolute;
    left: 90%;
    top: 0px;
    padding: 5px;
    border: 2px solid #000000;
    border-radius: 10px;
}

.write__message {
    margin: 10px;
    margin-top: 50%;
}

.hidden {
    display: none;
}